<h1>Bonjour, je m'appelle Marc Thomas. Bienvenue sur mon site.</h1>

<%= link_to "Mes projets", projects_path, class: "btn" %>
<%= link_to "Mes contacts", contacts_path, class: "btn" %>
<%= link_to "A propos de moi", about_path, class: "btn" %>
