<p>L'ensemble de mes projets</p>

<div class="container">

<% @projects.each do |project| %>
<div class="cards">
<li><%= project.name %></li>
<li><%= project.content %></li>
<li><%= project.started_at %></li>
<li><%= project.link %></li>
</div>
<% end %>
</div>
